@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4"><span style="color: #8b57c9">e</span>Culto</h1>
        <h4>Confirmação de presença em eventos religiosos</h4>
        <p>eCulto ajuda entidades religiosas a cumprirem com as exigências das autoridades sanitárias permitindo que pessoas confirmem sua presença em eventos religiosos, facilitando assim a rastreabilidade de possíveis infecções pelo novo Corona vírus (COVID-19).</p>
        <p>Impressão de lista de presença nos cultos com apenas 2 cliques.</p>
        <img class="img-fluid" src="~/eculto.png" />
        <br />
        <a href="https://wbsystems.com.br/Site/Contato" target="_blank" class="btn btn-light" style="color:#8b57c9;font-weight:bold">Quero Habilitar Minha Igreja</a>
        <a href="/Participar" class="btn btn-light" style="color:#8b57c9;font-weight:bold">Ver Horários de Culto</a>
    </div>
