@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>
<br />
<h4  style="color: #8b57c9"><b>Igrejas</b></h4>
<br />
<p>- Ao solicitar habilitação entidades religiosas acordam com os termos de uso e política de privacidade de uso do app.</p>
<p>- São utilizados os dados da igreja para divulgação dentro do app, como: Nome, Endereço, Responsável e Tradição (religião).</p>
<p>- São divulgados horários de culto cadastrados pela instituição em aplicativo web próprio como: Nome do evento, Data e Hora e Palestrante.</p>
<p>- Os Dados cadastrados dentro da aplicação são utilizados unica e exclusivamente dentro do escopo do aplicativo, não havendo divulgação externa.</p>
<br />
<h4  style="color: #8b57c9"><b>Pessoas</b></h4>
<br />
<p>- Ao baixar o aplicativo na loja do Google Play Store &reg; o usuário concorda com os termos de uso e política de privacidade do app.</p>
<p>- Ao confirmar presença em um evento religioso o usuário deve fornecer seu nome completo e telefone.</p>
<p>- Os dados cadastrados no aplicativo pelo usuário são encaminhados a igreja para o qual pertence o culto divulgado.</p>
<p>- Posteriormente, caso solicitado pela Vigilância Sanitária, os dados serão fornecidos para restreamento de pessoas que participaram de um mesmo culto.</p>
<p>- Não há divulgação de dados pessoais a aplicações e sites externos ou a empresas terceiras.</p>
<p>- Os dados de uso do aplicativo pertencem a instituição religiosa habilitada, estando proibida a divulgação dos mesmos, somente fornecê-los ao Órgão Governamental Competente.</p>
<br /><br />
<p>Desenvolvido por: <a href="https://wbsystems.com.br" target="_blank" style="color: #8b57c9">WB Systems - Soluções em Informática</a></p>

